@import url("https://css.gg/instagram.css");
@import url("https://css.gg/twitter.css");
@import url("https://css.gg/facebook.css");

footer {
	bottom: 0;
	background-color: black;
	padding-top: 5em;
	color: white;
	font-family: "Aquire-Light";
}

.footerLogo {
	font-family: "Aquire";
	cursor: pointer;
	transition: 500ms;
	padding: 12px;
}

.footerLogo:hover {
	color: #f85536;
}

.footerContent {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
	padding: 10px 0 10px 0;
}

.footerContent a {
	text-decoration: none;
	color: white;
	transition: 300ms;
}

.footerContent a:hover {
	color: #f85536;
}

.footerLeft {
	display: flex;
	align-items: center;
}

.footerLeft ul li {
	display: inline;
	margin: 0 6px;
}

.footerRight ul li {
	display: inline;
	margin: 0 20px;
}

.footerRight ul {
	display: flex;
	align-items: center;
	padding: 0;
}

.logo-copy {
	display: flex;
	align-items: center;
}
