@font-face {
	font-family: "Aquire";
	src: url(/Font/Aquire-BW0ox.otf) format("woff");
}

@font-face {
	font-family: "Aquire-Light";
	src: url(/Font/AquireLight-YzE0o.otf) format("woff");
}

body {
	margin: 0;
	padding: 0;
}

header {
	background-color: black;
	color: white;
	font-weight: 100;
}

.logo {
	font-size: 1.3rem;
	cursor: pointer;
	transition: 500ms;
	font-family: "Aquire";
}

.logo:hover {
	color: #ccc;
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.navigationLinks ul {
	display: flex;
	padding: 0;
	margin: 0;
}

.navigationLinks a {
	display: block;
	text-decoration: none;
	color: white;
	margin: 1rem;
	transition: 500ms;
}

.navigationLinks a:hover {
	color: #ccc;
}

.navbanavigationLinksrLinks a:hover {
	color: #ccc;
}

.navigationLinks li {
	padding-left: 1.5rem;
}

.navButton {
	display: none;
	font-size: 2rem;
	cursor: pointer;
}

/*.title {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 78px;
	font-family: "Playfair Display", serif;
}*/
