.slider {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.sliders .img1 {
  animation: modelJ 10s infinite;
}
.sliders .img2 {
  animation: modelI 10s infinite;
}
.sliders .img3 {
  animation: modelN 10s infinite;
}
.sliders .img4 {
  animation: modelG 10s infinite;
}

@keyframes modelJ {
  0% {
    background-image: url("https://images5.alphacoders.com/968/thumb-1920-968250.jpg");
  }
  50% {
    background-image: url("https://w.wallha.com/ws/10/0CjkWJtM.jpg");
  }
  100% {
    background-image: url("https://images5.alphacoders.com/968/thumb-1920-968250.jpg");
  }
}

@keyframes modelI {
  0% {
    background-image: url("https://images5.alphacoders.com/968/thumb-1920-968250.jpg");
  }
  50% {
    background-image: url("https://w.wallha.com/ws/10/0CjkWJtM.jpg");
  }
  100% {
    background-image: url("https://images5.alphacoders.com/968/thumb-1920-968250.jpg");
  }
}

@keyframes modelN {
  0% {
    background-image: url("https://images5.alphacoders.com/968/thumb-1920-968250.jpg");
  }
  50% {
    background-image: url("https://w.wallha.com/ws/10/0CjkWJtM.jpg");
  }
  100% {
    background-image: url("https://images5.alphacoders.com/968/thumb-1920-968250.jpg");
  }
}

@keyframes modelG {
  0% {
    background-image: url("https://images5.alphacoders.com/968/thumb-1920-968250.jpg");
  }
  50% {
    background-image: url("https://w.wallha.com/ws/10/0CjkWJtM.jpg");
  }
  100% {
    background-image: url("https://images5.alphacoders.com/968/thumb-1920-968250.jpg");
  }
}
