.slider {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sliderText {
	text-align: center;
}

.book {
	text-decoration: none;
}

.test {
	text-decoration: none;
}

.btn a {
	color: white;
	text-decoration: none;
}

.btn:hover a {
	color: #f85536;
}

.title {
	font-size: 72px;
	line-height: 1.3em;
	font-family: "Aquire-light";
	color: white;
	margin-top: 0;
	margin: 0;
}
