.book {
	text-decoration: none;
}

.test {
	text-decoration: none;
}

.btn a {
	color: white;
	text-decoration: none;
}

.btn:hover a {
	color: #f85536;
}

.title {
	font-size: 72px;
	line-height: 1.3em;
	font-family: "Aquire-light";
	color: white;
	margin-top: 0;
}
